In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys; sys.path.append(".")

import pandas as pd, numpy as np
import dask.dataframe as dd

/home/meliodas/dev/dask_learn/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [3]:
df = pd.read_csv("data.csv", names=['num', 'squares'])
df = dd.from_pandas(df, npartitions=10)
df

Dask DataFrame Structure:
                  num squares
npartitions=10
0               int64   int64
10                ...     ...
...               ...     ...
90                ...     ...
99                ...     ...
Dask Name: from_pandas, 1 graph layer

In [4]:
df.head()

   num  squares
0    1        1
1    2        4
2    3        9
3    4       16
4    5       25

In [5]:
df.divisions

(0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 99)

In [6]:
df.partitions[1]

Dask DataFrame Structure:
                 num squares
npartitions=1
10             int64   int64
20               ...     ...
Dask Name: blocks, 2 graph layers

In [7]:
df.num

Dask Series Structure:
npartitions=10
0     int64
10      ...
      ...
90      ...
99      ...
Name: num, dtype: int64
Dask Name: getitem, 2 graph layers

In [8]:
type(df)

dask.dataframe.core.DataFrame

In [35]:
df.iloc[:, 'num'].head()

key : (slice(None, None, None), 'num')
type(key) ; <class 'tuple'>
col_names : ['num', 'squares']

0    1
1    2
2    3
3    4
4    5
Name: num, dtype: int64